
#score {
/*adding the wrapper allowed me to get rid of the height specification here*/
}

table {
	color: black;
	border: 1px solid;
	height: fixed;
	margin: 0 auto; /* I think it's better for the scoreboard to be in the center */
}

#wrapper {
	position: relative;
	padding-top: 40%;
}

#board {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 10px;
}

div.player { 
	background: #000000;
	height: 50px;
	width: 10px;
}

#one {
	float:left;
}

#two {
	float:right;
}

div.boundary {
	box-sizing: border-box;  
	/* 
	what was happening is this element was giving a width of 50% and then 2 extra pixels for the border on the right, 
	which is why your puck looked "off" of center when it was really your eyes playing a trick on you... the box-sizing: border-box; rule
	says to the browser "include the border into the width calculations, don't add the border onto the width" 
	*/
	position: absolute;
	height: 100%; 
	width: 50%;
	border-right: 3px dashed;
}

div.puck {
	position: absolute;
	background: #000000;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-left: -9px;	/* this needs to be 1/2 of the width + 1px (the boundary border is 3 pixels, so 1.5 rounds to 1px ) */

	/* instead of using a left of 49.5% where the missing 0.5% is to make up for the width of the item, I put it at a position of left 50%,
	 then the negative margin is what I use to center the item about it's  */
}